//AI_Dj_Onboarding.jsx
.aidjonboarding_wrap {
    height: 852px;
    display: flex;
    flex-direction: column;
    max-width: 393px;
    margin: 0 auto;
    overflow: hidden;
    
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        max-width: 393px;
        min-width: 0;

        .bg_content{
            width: 362px;
            position: absolute;
            z-index: 2;

            .aidj_on_header {
                .detail {
                    display: flex;
                    margin-top: 72px;

                    .hp1 {
                        color: var(--white);
                        font-weight: bold;
                        font-size: 30px;
                    }

                    .hp2 {
                        color: var(--white);
                        font-weight: 600;
                        font-size: 20px;
                        margin-top: 48px;
                        margin-left: 6px;
                    }
                }
            }

        main {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .p1,
            .p2 {
                color: var(--white);
                font-size: 16px;
                font-weight: 400;
            }

            .p1{
                margin-top: 130px;
            }

            .p2 {
                margin-top: 16px;
                z-index: 9999;
            }

            .p3 {
                margin-top: 56px;
                color: var(--white);
                font-size: 14px;
                font-weight: 200;
                text-align: center;
            }

            .gotodj {
                width: 15px;
                height: 30px;
                align-items: center;
                justify-self: center;
                display: flex;
                margin: 0 auto;
                margin-top: 24px;
            }

            .aidj_btn {
                width: 180px;
                height: 45px;
                background-color: var(--main);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-top: 24px;
                border-radius: 50px;
                color: var(--white);
                font-weight: 600;
                font-size: 18px;
            }

        }
        }
        
        .bg_circle{
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
}

//Ai_Dj.jsx
.aidj_wrap {
    height: 852px;
    display: flex;
    flex-direction: column;
    max-width: 393px;
    margin: 0 auto;
    overflow: hidden;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        max-width: 393px;
        min-width: 0;

        .scroll_container {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            min-width: 0;

            &::-webkit-scrollbar {
                display: none;
            }

            scrollbar-width: none;
            -ms-overflow-style: none;

            .step{
                position: relative;
                margin-top: 32px;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: var(--gray02);

                .line{
                    position: absolute;
                    width: 120px;
                    height: 2px;
                    border-radius: 2px;
                    background:linear-gradient(90deg,#4D003F,#E500BC)
                }
            }

            .aidj_main {
                margin-top: 40px;

                h1 {
                    font-weight: bold;
                    font-size: 18px;
                    color: var(--white);
                }

                p {
                    font-weight: 300;
                    font-size: 16px;
                    color: var(--white);
                }

                .mix {
                    margin-top: 88px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    
                    .mix_left,
                    .mix_right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .mix_cover {
                            width: 160px;
                            height: 160px;
                            border-radius: 5px;
                            margin: 10px 0px;
                            background-color: var(--gray02);
                            box-shadow: 0px 0px 3px 1px var(--main);

                            .track_add_btn {
                                width: 100%;
                                height: 100%;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                img {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }

                        h2 {
                            font-weight: 400;
                            font-size: 16px;
                            color: var(--white);
                        }

                        p {
                            font-weight: 300;
                            font-size: 14px;
                            color: var(--white);
                        }
                    }
                }

                .mix_btn {
                    margin-top: 104px;
                    margin-left: calc(50% - 107px);
                    width: 207px;
                    height: 45px;
                    background-color: var(--gray02);
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    border-radius: 50px;
                    color: var(--white);
                    font-weight: 500;
                    font-size: 18px;
                }

            }

            .what {
                margin-top: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                }

                p {
                    font-weight: 300;
                    font-size: 12px;
                    color: var(--white);
                }
            }
        }
    }
}

//Ai_Dj_Trackselct
#Ai_Dj_Trackselect {
    height: 852px;
    display: flex;
    flex-direction: column;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .scroll_container {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: none;
            }

            scrollbar-width: none;
            -ms-overflow-style: none;
        }

    }
}

//Ai_Dj_Result.jsx
.aidjresult_wrap {
    position: relative;
    height: 852px;
    display: flex;
    flex-direction: column;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .step{
            position: relative;
            margin-top: 32px;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: var(--gray02);

            .line{
                position: absolute;
                right: 0;
                width: 120px;
                height: 2px;
                border-radius: 2px;
                background:linear-gradient(90deg,#4D003F,#E500BC)
            }
        }

        .result_header {
            margin-top: 40px;

            h1 {
                font-size: 22px;
                font-weight: bold;
                color: var(--white);
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: var(--white);
            }
        }

        .result_song {
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
    
            .rs_cover {
                position: relative;
                width: 170px;
                height: 170px;
                background-color: var(--gray02);
                border-radius: 3px;

                .rs_logo{
                    width: 72px;
                    height: 60px;

                    position: absolute;
                    z-index: 1;
                    top: calc(50% - 40px);
                    left: calc(50% - 35px);
                }

                .play_btn{
                    position: absolute;
                    z-index: 2;
                    top: calc(50% - 20px);
                    left: calc(50% - 20px);

                    width: 40px;
                    height: 40px;
                    background-color: var(--black);
                    border-radius: 50%;
                    opacity: 50%;

                    img{
                        width: 12px;
                        height: 14px;

                        position: absolute;
                        top: calc(50% - 6px);
                        left: calc(50% - 5px);
                    }
                }
            }

            .rs_text{
                color: var(--white);
                font-size: 18px;
                font-weight: 500;
            }
        }


        .btn_container{
            margin-top: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            .addpl_btn{
                background-color: var(--main);
                border-radius: 50px;
                padding: 12px 44px;

                color: var(--white);
                font-size: 18px;
                font-weight: 600;
            }

            .backdj_btn{
                background-color: var(--gray02);
                border-radius: 50px;
                padding: 12px 48px;

                color: var(--white);
                font-size: 18px;
                font-weight: 600;
            }

        }
    }

    .bottomsheet_wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        
        display: flex;
        align-items: flex-end; 

        #sheet_container {
            position: relative;
            width: 100%;
            height: 800px; 
            background-color: var(--black);
            border-radius: 30px 30px 0 0; 
            overflow-y: auto; 
            padding-left: 16px;
            padding-right: 16px;

            &::-webkit-scrollbar {
                display: none;
            }

            scrollbar-width: none;
            -ms-overflow-style: none;

            header{
                margin: 24px 0px;
                display: flex;
                justify-content: flex-start;
                gap: 98px;

                img{
                    width: 22px;
                    height: 22px;
                }
                
                p{
                    color: var(--white);
                    font-size: 18px;
                }
            }

            .select_btn{
                position: fixed;
                top: 595px;
                left: calc(50% - 90px);

                width: 180px;
                height: 45px;
                background-color: var(--main);
                border-radius: 50px;

                color: var(--white);
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}


//Playlisy_add component

.playlist_add_wrap{
    width: 100%;
    height: 70px;
    background-color: var(--gray02);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 8px;

    .playlist_left{
        display: flex;
        align-items: center;
        gap: 15px;
        
        .album_cover{
            width: 45px;
            height: 45px;
            background-color: var(--gray01);
            border-radius: 3px;
        }

        .playlist_title{
            color: var(--white);
            font-size: 14px;
            font-weight: 500;
        }
    }
}

#Ai_Dj_Loading_wrap{
    height: 852px;
    display: flex;
    flex-direction: column;
    max-width: 393px;
    margin: 0 auto;
    overflow: hidden;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        max-width: 393px;
        min-width: 0;

        .scroll_container {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            min-width: 0;

            .step{
                position: relative;
                margin-top: 32px;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: var(--gray02);

                .line{
                    position: absolute;
                    left: calc(50% - 60px);
                    width: 120px;
                    height: 2px;
                    border-radius: 2px;
                    background:linear-gradient(90deg,#4D003F,#E500BC)
                }
            }

            header{
                margin-top: 40px;

                h1{
                    color: var(--white);
                    font-size: 22px;
                    font-weight: bold;
                }

                p{
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 300;
                }
            }

            main{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 225px;
                    height: 273px;
                }

                .text{
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                }

                .gotodj{
                    margin-top: 24px;
                    height: 40px;
                }

                .remix_highlight_btn{
                    margin-top: 24px;

                    width: 258px;
                    height: 44px;
                    background-color: var(--main);
                    border-radius: 50px;

                    color: var(--white);
                    font-weight: 600;
                    font-size: 18px;
                }
            }

        }
    }
}