//AI_Dj_Onboarding.jsx
.aidjonboarding_wrap {
    .container {
        background:
            linear-gradient(to top, var(--main) 0%, rgba(255, 43, 208, 0) 20%), 
            var(--black);
            background-repeat: no-repeat;
            background-size: 100% 220px;
            background-position: left 100%;

        .aidj_on_header {

            .detail {
                display: flex;
                margin-top: 50px;

                .hp1 {
                    color: var(--white);
                    font-weight: bold;
                    font-size: 24px;
                    margin-top: 10px;
                }

                .hp2 {
                    color: var(--white);
                    font-weight: 600;
                    font-size: 20px;
                    margin-top: 45px;
                    margin-left: 6px;
                }
            }
        }

        main {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .p1,
            .p2 {
                color: var(--white);
                font-size: 14px;
                font-weight: 400;
            }

            .p2 {
                margin-top: 20px;
                z-index: 9999;
            }

            .graphic {
                width: 225px;
                height: 273px;
                align-items: center;
                justify-self: center;
                display: flex;
                margin: 0 auto;
                margin-top: -40px;
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
            }

            .p3 {
                color: var(--white);
                font-size: 14px;
                font-weight: 300;
                text-align: center;
            }

            .gotodj {
                width: 15px;
                height: 30px;
                align-items: center;
                justify-self: center;
                display: flex;
                margin: 0 auto;
                margin-top: 15px;
            }

            .aidj_btn {
                width: 180px;
                height: 45px;
                background-color: var(--main);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                margin-top: 15px;
                border-radius: 50px;
                color: var(--white);
                font-weight: 600;
                font-size: 18px;
            }

        }
    }
}

//Ai_Dj.jsx
.aidj_wrap {
    height: 852px; 
    display: flex;
    flex-direction: column;

    .container {
        flex: 1; 
        display: flex;
        flex-direction: column;
        overflow: hidden; 

        .scroll_container{
            flex: 1; 
            overflow-y: auto; 
            overflow-x: hidden; 

            &::-webkit-scrollbar {
                display: none; 
            }

            scrollbar-width: none; 
            -ms-overflow-style: none;

            .aidj_header {
                display: flex;
                gap: 15px;
                margin-top: 30px;
                margin-left: -52px;
                margin-right: -26px;
                width: calc(100% + 78px);
                box-sizing: border-box;
                overflow: hidden;

                .aidj_cover {
                    width: 160px;
                    height: 160px;
                    border-radius: 5px;
                    background-color: var(--gray02);
                    flex: 0 0 auto;
                }
        }

        .aidj_main {
            margin-top: 40px;

            h1 {
                font-weight: bold;
                font-size: 18px;
                color: var(--white);
            }

            p {
                font-weight: 300;
                font-size: 16px;
                color: var(--white);
            }

            .mix {
                display: flex;
                align-items: center;
                gap: 20px;
                width: 340px;
                height: 210px;
                align-items: center;
                margin: 30px auto 0;

                .mix_left,
                .mix_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .mix_cover {
                        width: 160px;
                        height: 160px;
                        border-radius: 5px;
                        margin: 10px 0px;
                        background-color: var(--gray02);
                        box-shadow: 0px 0px 3px 1px var(--main);

                        .track_add_btn{
                            width: 100%;
                            height: 100%;
                            
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }

                    h2 {
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--white);
                    }

                    p {
                        font-weight: 300;
                        font-size: 14px;
                        color: var(--white);
                    }
                }
            }

            .mix_btn {
                width: 207px;
                height: 45px;
                background-color: var(--gray02);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 56px auto;
                border-radius: 50px;
                color: var(--white);
                font-weight: 500;
                font-size: 18px;
            }

            .preview {

                .pre_music {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 30px auto 0;
                    height: 150px;
                    border-radius: 5px;
                    gap: 15px;
                    background-color: var(--gray02);

                    .pre_cover {
                        padding-left: 0;
                        width: 100px;
                        height: 100px;
                        border-radius: 5px;
                        margin-left: -100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--black);

                        img {
                            width: 25px;
                            height: 25px;

                            margin: 0 auto;
                        }
                    }

                    h3 {
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--white);
                    }

                    p {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }
            }
        }

        .what {
            display: flex;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 88px auto 30px;
            cursor: pointer;

            img {
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }

            p {
                font-weight: 300;
                font-size: 12px;
                color: var(--white);
            }
        }
        }
    }
}

//Ai_Dj_Trackselct
#Ai_Dj_Trackselect {
    height: 852px; 
    display: flex;
    flex-direction: column;

    .container {
        flex: 1; 
        display: flex;
        flex-direction: column;
        overflow: hidden; 

        .scroll_container {
            flex: 1; 
            overflow-y: auto; 
            overflow-x: hidden; 

            &::-webkit-scrollbar {
                display: none; 
            }

            scrollbar-width: none; 
            -ms-overflow-style: none;
        }

    }
}