//Ai_Search_Onboarding.jsx
.Ai_Search_Onboarding_wrap {
    .container {
        header {
            margin-top: 24px;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 27px;
            }

            p {
                color: var(--white);
                font-weight: bold;
            }
        }

        main {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                text-align: center;
                color: var(--white);
                font-weight: bold;
                font-size: 22px;
            }

            p {
                text-align: center;
                color: var(--white);
                font-weight: 400;
                font-size: 14px;
                margin-top: 10px;

            }

            img{
                position: absolute;
                top: 323px;
            }
        }

        .chat {
            width: 361px;
            height: 55px;
            position: absolute;
            z-index: 2;
            bottom: 16px;

            .chat_btn {
                position: absolute;
                z-index: 1;
                top: calc(50% - 18px);
                right: 6px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 32px;
                height: 32px;
                background-color: var(--gray02);
                border-radius: 50%;

                img {
                    width: 15px;
                    height: 15px;
                }
            }

            input {
                width: 100%;
                height: 50px;
                background-color: var(--black);
                border-radius: 20px;
                padding-left: 15px;
                color: var(--white);
                font-size: 14px;
                border: 1px solid var(--gray02);
            }
        }

    }
}

//Ai_Search.jsx
.Ai_Search_Wrap {
    .container {
        header {
            margin-top: 24px;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 27px;
            }

            p {
                color: var(--white);
            }
        }

        .chat {
            width: 361px;
            height: 55px;
            position: absolute;
            z-index: 2;
            bottom: 16px;

            .chat_btn {
                position: absolute;
                z-index: 1;
                top: calc(50% - 18px);
                right: 6px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 32px;
                height: 32px;
                background-color: var(--main);
                border-radius: 50%;

                img {
                    width: 15px;
                    height: 15px;
                }
            }

            input {
                width: 100%;
                height: 50px;
                background-color: var(--black);
                border-radius: 20px;
                padding-left: 15px;
                color: var(--white);
                font-size: 14px;
                border: 1px solid var(--gray02);
            }
        }

    }
}