@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont: "Pretendard";


    // 메인 컬러 
    --black: #0E0E0E;
    --white: #FFFFFF;
    --gray01:#A1A1A1;
    --gray02: #2E2E2E;
    --main: #E500BC;
    --none: #00000000;
 


    // 폰트 세팅
    color: var(--black);
    font-family: var(--mainfont);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 0px;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}